<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsoh.myfirstandroidapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    // sdcard
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ScrollActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".IntentActivity" />
        <activity
            android:name=".exam_coffee.CoffeeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".exam_webview.WebViewActivity" />
        <activity android:name=".exam_listview.ListViewActivity" />
        <activity
            android:name=".exam_lifecycle.LifeCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".exam_fab_dialog.FabAndDialogActivity" />
        <activity android:name=".exam_fragment.FragmentExamActivity" />
        <activity android:name=".exam_fragment.exam1.Exam203Activity" />
        <activity android:name=".exam_fragment.exam2.Exam212Activity" />
        <activity android:name=".exam_viewpager.ScreenSlideActivity" />
        <activity android:name=".exam_eventbus.EventBusActivity" />
        <activity android:name=".exam_thread.ThreadActivity" />
        <activity android:name=".exam_thread.AsyncTaskActivity" />
        <activity android:name=".exam_broadcast.BroadcastActivity" />

        <receiver
            android:name=".exam_broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".exam_parsing.JsonParsingActivity" />
        <activity
            android:name=".notepad.activities.NoteMainActivity"
            android:label="@string/title_activity_note_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- http://developer.android.com/intl/ko/training/basics/intents/filters.html#AddIntentFilter -->
        <activity android:name=".notepad.activities.MemoEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name=".notepad.provider.MemoContentProvider"
            android:authorities="com.jsoh.myfirstandroidapp.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".load_picture.PictureActivity" />
        <activity
            android:name=".notepad.activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>